@font-face {
  font-family: 'Integral CF';
  src: url('/assets/fonts/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/assets/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Integral CF';
  src: url('/assets/fonts/Fontspring-DEMO-integralcf-extrabold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/assets/fonts/Fontspring-DEMO-integralcf-boldoblique.otf') format('opentype');
  font-weight: 600;
  font-style: oblique;
}
:root {
  font-family: 'Integral CF', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
